{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react",
    "prettier",
    "@typescript-eslint",
    "react-hooks",
    "babel"
  ],
  "rules": {
    "import/named": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-for": "off",
    "react/prop-types": "off",
    "import/no-unassigned-import": "off",
    "babel/no-invalid-this": 0,
    "babel/camelcase": 0,
    "babel/new-cap": 0,
    "no-console": "off",
    "jsx-a11y/accessible-emoji": "off",
    "consistent-return": "off",
    "@typescript-eslint/no-var-requires": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
