.tabs {
  position: relative;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.tab {
  text-align: center;
  padding: 14px 0px;
  background: #fff;
}

.slider {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #1281e9;
  transition: left 0.25s;
}

